<!DOCTYPE html>  
<html lang="en"> 
<head>
  <title>Pjaxhole<%= " :: #{@title}" if @title %></title>
  <link href="stylesheets/screen.css?2" media="all" rel="stylesheet" type="text/css" />
  <link href='http://fonts.googleapis.com/css?family=Droid+Sans:regular,bold' rel='stylesheet' type='text/css'> 
  <link href='http://fonts.googleapis.com/css?family=Artifika' rel='stylesheet' type='text/css'>
  <script src="javascripts/jquery-1.6.1.js?2" type="text/javascript"></script>
  <script src="javascripts/underscore.js?2" type="text/javascript"></script>
  <%# PJAXHERE %>
  <script src="javascripts/jquery.pjax.js?2" type="text/javascript"></script>
  <script src="javascripts/pjaxhole.js?2" type="text/javascript"></script>
  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>

<body>

  <div class="column">

    <header> 
      <h1>Pjaxhole</h1> 
    </header>

    <section id="content" class="body">
      <%= yield %>
    </section>
    
    <div id="loading">  
       <div class="message">  
         Loading...
       </div>  
    </div>

    <footer>
      It's a hole you stick your Pjax in. Duh.
    </footer> 
  
  </div> 

</body> 
</html>